<!DOCTYPE HTML>

<html lang="en">
    <head>
        <style> {{ _style }} </style>
        <title> insomnia </title>
    </head>
    <body>
        <h1> Hello, insomnia </h1>
        {% if name %}
            <h2> Hello, {{ name }} </h2>
        {% endif %}
</html>