<!DOCTYPE HTML>

<html lang="en">
    <head>
        <style> {{ _style }} </style>
        <title> insomnia </title>
    </head>
    <body>
        <center><h1> Hello, insomnia </h1></center>
        <br/>
        <div class='icon'>
            <div class='mountain-background-bubble' alt="mountain">
                <div class='mountain large-mountain'></div>
                <div class='mountain small-mountain'></div>
            </div>
        </div>
    </body>
</html>