@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(90deg, rgba(5,2,48,1) 0%, rgba(50,36,164,1) 25%, rgba(3,152,182,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dddddd;
}

.mountain-background-bubble {
    position: relative;
    left: 50px;
    top: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #FFF1C1;
    overflow: hidden;
}
.mountain {
    background:#FE5F55;
    transform: rotate(45deg);
}

.large-mountain {
    position: absolute;
    width: 40px;
    height: 25px;
    top: 75px;
}

.small-mountain {
    position: absolute;
    left: 38px;
    top: 45px;
    width: 75px;
    height: 75px;
} 